
ghost/master/yaya_variable.cfg
ghost/master/profile/
shell/master/profile/
developer_options.txt
ghost/master/saori/histomachine.exe
ghost/master/graphs/example_graph.png
ghost/master/graphs/test.png
